/* h1{
    color:blue;
    background-color:yellow;
} 
#heading{
    color:red;
}
.heading2{
    color:green;
}
  body{
    background-color:rgb(192, 255, 214);
} 
button{
    color:white;
    background-color:blue;
} */
/* #Radhe{
    height:100px;
     width:100px; 
    border:1px solid black;
    margin:5px;
    text-align:center;
    background-color:rgb(255, 127, 133);
    color:white; */
/* } */
.content{
    color:red;

}
.newClass{
    background-color:green;
}